* {
	margin: 0;
	padding: 0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

.navegacion {
	width: 100%;
	margin: 30px auto;
	background-color: red;
}

.navegacion ul {
	list-style: none;
}

.menu>li {
	position: relative;
	display: inline-block;
}

.menu>li>a {
	display: block;
	padding: 10px 50px;
	color: #ffffff;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
	font-size: 25px;
}

.menu li a:hover {
	color: red;
	background-color: #ffffff;
	transition: all .3s;
}

.submenu {
	position: absolute;
	background-color: #333333;
	width: 100%;
	visibility: hidden;
	opacity: 0;
	transition: opacity 0.5s;
}

.submenu li a {
	display: block;
	padding: 15px;
	color: #fff;
	font-family: 'Times New Roman', Times, serif;
	text-decoration: none;
}

.menu li:hover .submenu {
	visibility: visible;
	opacity: 1;
}

hr {
	border-color: red;
}

input[type="buttonmove"] {
	width: 900px;
	padding: 16px;
	margin-top: 32px;
	border: 1px solid rgb(255, 0, 0);
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: rgb(255, 0, 0);
	margin: auto;
}

input[type="buttonknow"] {
	width: 100px;
	padding: 16px;
	margin-top: 32px;
	border: 1px solid rgb(255, 0, 0);
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: rgb(255, 0, 0);
	margin: auto;
	height: 5px;
}

input[type="buttonknow"],
[type="buttonmove"]:hover {
	cursor: pointer;
}

legend {
	font-size: 20px;
	color: rgb(255, 0, 0);
}

fieldset {
	background-color: hsla(0, 17%, 86%, 0.407);
}

* {
	box-sizing: border-box;
}

form label {
	font-weight: bold;
	display: inline-block;
	color: rgb(0, 0, 0)
}

form input[type="email"],
form input [type="number"] {
	width: 180px;
	padding: 3px 10px;
	border: 1px solid white;
	border-radius: 3px;
	background-color: white;
	margin: 8px 0;
	display: inline-block;
}

form input[type="submit"] {
	width: 100%;
	padding: 16px;
	margin-top: 32px;
	border: 1px solid black;
	border-radius: 5px;
	display: block;
	color: #fff;
	background-color: black;
	margin: auto;
}

form {
	width: 100%;
	padding: 16px;
	border-radius: 10px;
	margin: auto;
	background-color: hsla(0, 17%, 86%, 0.407);
}

h2 {
	color: red;
	font-size: 25px;
	font-family: 'Times New Roman', Times, serif;
	text-align: center;
	font-weight: bold;
}

h1 {
	text-align: center;
	padding-top: 15px;
}

.textind {
	font-weight: bold;
	margin: 10px 10px;
	font-size: 23px;
}

h3 {
	font-size: 20px;
	text-align: center;
}

table {
	font-size: 17px;
	border-right: grey;
}

.btn-1 {
	background-color: black;
	padding: 10px 15px;
	cursor: pointer;
	color: white;
	margin-top: 10px;
	margin left: 25px;
}

.btn-1:hover {
	background-color: rgba(255, 0, 0, 0.734);
}

.container-img {
	width: 100%;
	max-width: 1100px;
	margin: auto;
	margin-top: 60px;
	margin-bottom: 60px;
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: 250px;
	grid: gap 20px;
}

.container-img .box-img figure {
	width: 100%;
	height: 100%;
}

.container-img .box-img img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.container-img .box-img:nth-child(1) {
	grid-column-start: span 2;
}

img {
	display: block;
	margin: auto;
}

p {
	font-size: large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	margin-left: 15px;
}

strong {
	color: red;
	font-size: large;
	font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
	padding: 15px;
}

table {
	border-collapse: collapse;
	width: 100%;
	font-size: large;
	text-align: center;
	vertical-align: middle;
	font-family: sans-serif;
}

td,
tr {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
	background-color: #ff000096;
	color: white;
	padding: 15px;
}

th {
	padding-bottom: 5px;
	border: none;
	font-size: larger;
	font-weight: bold;
	background-color: rgba(0, 0, 0, 0.63);
	color: white;
	border-bottom: 1px solid #ddd;
	padding: 15px;
}

thead>th {
	background-color: black;
	color: white;
}

li {
	font-size: large;
	font-family: 'Times New Roman', Times, serif;
}

ol {
	margin-left: 50px;
}

pre {
	background-color: rgba(255, 0, 0, 0.315);
	font-weight: bolder;
	font-size: larger;
	font-family: cursive;
	text-align: center;
}

a:visited {
	color: rgb(255, 0, 0);
}

a:hover {
	color: rgba(255, 0, 0, 0.734) (6, 65, 14);
	background-color: yellow;
	font-family: impact;
}

a:active {
	color: darkred;
}

.title {
	font-size: 70px;
}

h4 {
	font-size: medium;
	color: blue;
}

ul {
	margin-left: 35px;
}

.btn-2 {
	background-color: yellow;
	padding: 10px 15px;
	cursor: pointer;
	color: rgb(0, 0, 0);
	margin-top: 10px;
	margin left: 25px;
	transition: all 0.2s;
}

.btn-2:hover {
	background-color: darkblue;
	color: red
}