* {
  margin: 0px;
  padding: 0px;
}

#header {
  margin: auto;
  width: 500px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

ul {
  list-style: none;
}

.nav > li {
  float: left;
}

.nav li a {
  background-color: rgb(199, 7, 7);
  color: rgb(255, 255, 255);
  padding: 10px 20px;
  display: block;
}

.nav li a:hover {
  background-color: black;
  color:brown ;
}

.nav li:hover > ul {
  display: block;
}

.nab li ul li {
  position: relative;
}